hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #04B4AE;
  margin: 1em 0;
  padding: 0; 
}

.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;   
  letter-spacing: 2px;
}
/*Logo*/
.logo-box{
  background-color: #008080; /* Orange */
  color: #ffffff;
  margin-bottom: 5px;
  margin-top: 0px;
}

.logo{
  width: 45%; height: 20%; 
}

/* Testing */
.no-space{
  margin: 0px;
}

/* Table Header Styles */
.sort-icon {
    font-size: 9px;
    margin-left: 5px;
}

th {
  cursor:pointer;
}



span.glyphicon-large {
    font-size: 3.2em;
}
