<!--
HIER NOCH VERBESSERN - KOMMENTARE ETC.


CreatedbyID, Cost? fehlt noch.
attachments werden erstmal vernachlässigt.
-->

    <div class="container top-space bot-space">
      <div class="panel panel-default">
        <div class="panel-heading text-center"><h2>Create new device</h2></div>
        <div class="panel-body">

        <div id="messages" class="hide" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <div id="messages_content"></div>
            </div>
        	
          <!--Begin form-->
          <form id="itemForm" class="form-horizontal" name="formInput">

           	<!--Name input-->
            <div class="form-group" id="formName">
              <label class="col-md-2 control-label" for="name">Name</label>
              <div class="col-md-4">
                <input type="text" class="form-control" id="name" name="name" placeholder="Hammer" ng-model="selectedItems[0].Name" required=""/>
              </div>
            </div>


            <!--Description input-->
            <div class="form-group" id="formDescription">
              <label class="col-md-2 control-label" for="description">Description</label>  
              <div class="col-md-4">
                <textarea class="form-control" id="description" name="description" placeholder="Mf: B1" ng-model="selectedItems[0].Description"></textarea>
              </div>
            </div>


            <!--Category input (button opens modal with radio buttons)-->
            <div class="form-group" id="formCategory">
              <label class="col-md-2 control-label" for="categoryButton">Category</label>
              <!--show, when no category is selected-->
              <div class="col-md-4" ng-if="selectedItems[0].Category == null">
                <button type="button" class="btn btn-default btn-block text-left" data-toggle="modal" data-target="#categoryModal"  name="categoryButton"
                style="text-align:left;color:#999;">Select Category</button>
              </div>
              <!--show, when category is selected-->
              <div class="col-md-4" ng-if="selectedItems[0].Category != null" >
                <button type="button" class="btn btn-default btn-block text-left" data-toggle="modal" data-target="#categoryModal" name="categoryButton" 
                style="text-align:left;color:#555;">{{categories.name}}</button>
              </div>
            </div>

            <!--modal for category selection-->
            <div id="categoryModal" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Select Category</h4>
                  </div>
                  <div class="modal-body">

                    <!--recursive template for displaying categories as nested list-->
                    <script type="text/ng-template" id="categoryTree">
                      <label data-toggle="tooltip" data-placement="right" title="{{category.Description}}">
                        {{category.Name}}
                        <input type="radio" name="categoryParent" ng-value="category.id" ng-model="selectedItems[0].Category"
                         ng-change="newCategoryValue('{{category.Name}}')">
                      </label>
                        <ul ng-if="category.children">
                          <li ng-repeat="category in category.children" ng-include="'categoryTree'">      
                          </li>
                        </ul>
                    </script>

                    <!--includes nested list (children is nested Data with all categories)-->
                    <ul>
                        <li ng-repeat="category in nestedCategories" ng-include="'categoryTree'"></li>
                    </ul>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Scripts for tooltip(description of category)-->
            <script>
               /*jQuery for tooltips (shows description of category)  using Bootstrap JS*/
              jQuery(document).ready(function(){
                jQuery('[data-toggle="tooltip"]').tooltip();
              });
            </script>


            <!--Place Input (button opens modal with radio buttons)-->
            <div class="form-group" id="formPlace">
              <label class="col-md-2 control-label" for="placeButton">Place</label>
              <!--show, when no place is selected-->
              <div class="col-md-4" ng-if="selectedItems[0].Place == null">
                <button type="button" class="btn btn-default btn-block text-left" data-toggle="modal" data-target="#placeModal" name="placeButton"
                 style="text-align:left;color:#999;">Select Place</button>
              </div>
              <!--show, when a place is selected-->
              <div class="col-md-4" ng-if="selectedItems[0].Place != null" >
                <button type="button" class="btn btn-default btn-block text-left" data-toggle="modal" data-target="#placeModal" name="placeButton"
                 style="text-align:left;color:#555;">{{places.name}}</button>
              </div>
            </div>

            <!--modal for place selection-->
            <div id="placeModal" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Select Place</h4>
                  </div>
                  <div class="modal-body">

                    <!--recursive template for displaying places as nested list-->
                    <script type="text/ng-template" id="placeTree">
                      <label>
                        {{place.Name}}
                        <input type="radio" name="Parent" ng-value="place.id" ng-model="selectedItems[0].Place"
                         ng-change="newPlaceValue('{{place.Name}}')">
                      </label>
                        <ul ng-if="place.children">
                          <li ng-repeat="place in place.children" ng-include="'placeTree'">      
                          </li>
                        </ul>
                    </script>

                    <!--includes nested list (children is nested Data with all places)-->
                    <ul>
                        <li ng-repeat="place in nestedPlaces" ng-include="'placeTree'"></li>
                    </ul>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>  


            <!--State input-->
            <div class="form-group" id="formState">
              <label class="col-md-2 control-label" for="state">State</label>
              <div class="col-md-4"> 
                <select class="form-control" name="state" ng-model="selectedItems[0].State"
                  ng-options="option.value as option.name for option in deviceStates"
                  ng-init="selectedItems[0].State = selectedItems[0].State || deviceStates[1].value" required="">
                </select>
              </div>
            </div>


            <!--Cost input-->
            <!-- Eigentlich müsste der Einkaufspreis auch eingegeben werden? -> klären mit Backend
            <div class="form-group" id="formCost">
              <label class="col-md-2 control-label" for="cost">Cost</label>
              <div class="col-md-4">
                <input type="number" min="0.00" step="0.01" class="form-control" id="cost" name="cost" placeholder="24.00"
                 ng-model="selectedItems[0].Cost" onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
              </div>
            </div>-->


            <!--Comment input-->
            <div class="form-group" id="formComment">
              <label class="col-md-2 control-label" for="comment">Comment</label>  
              <div class="col-md-4">
                <textarea class="form-control" id="comment" name="comment" placeholder="Mf: B1" 
                ng-model="selectedItems[0].Comment" required=""></textarea>
              </div>
            </div>

            
            <!--PublicVisible input-->
            <div class="form-group" id="formVisible">
              <label class="col-md-2 control-label" for="publicVisible">PublicVisible</label>
              <div class="col-md-4">  
                <select class="form-control" name="publicVisible"  ng-model="selectedItems[0].PublicVisible"
                  ng-options="option.value as option.name for option in Visibility"
                  ng-init="selectedItems[0].PublicVisible = selectedItems[0].PublicVisible || Visibility[1].value" required="">
                </select>   
              </div>
            </div>
  
             <!--Buttons: Submit(Send to Server) + Back to Itemlist--> 
             <div class="form-group">
              <div class="col-md-6 col-md-offset-2">
                <button id="buttonSubmit" name="buttonSubmit"type="button" class="btn btn-success btn-sm" ng-click="createItemToServer('Device')" 
                ng-disabled="formInput.name.$error.required || formInput.state.$error.required || formInput.comment.$error.required || formInput.publicVisible.$error.required || selectedItems[0].Category == null || selectedItems[0].Place == null"
                >Create device</button>
                <button id="buttonReset" name="buttonReset" type="reset" form="itemForm" class="btn btn-danger btn-sm" ng-click="clearItem()">Reset form</button>
                <a href="">
                  <a href="#/list" id="buttonMenu" name="buttonMenu" type="button" class="btn btn-primary btn-sm" ng-click="clearItem()">Back to list</a>
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    

<!-- THIS WILL BE DELETED JUST FOR TESTING-->
<div class="well">
  <p>Testing area for backend</p>
  <p>{{selectedItems[0]}}</p>
  <p>CreaItem:</p>
  <p>{{createItem}}</p>
</div>

