<!--
HIER NOCH VERBESSERN - KOMMENTARE ETC.
-->

    <div class="container top-space bot-space">
      <div class="panel panel-default">
        <div class="panel-heading text-center"><h2>Create new material</h2></div>
        <div class="panel-body">
        	
          <!--Begin form-->
          <form id="itemForm" class="form-horizontal">

           	<!--Name input-->
            <div class="form-group" id="formName">
              <label class="col-md-2 control-label" for="name">Name</label>
              <div class="col-md-4">
                <input type="text" class="form-control" id="name" name="name" placeholder="LM258" ng-model="selectedItems[0].Name"/>
              </div>
            </div>


            <!-- State input-->
            <div class="form-group" id="formState">
              <label class="col-md-2 control-label" for="state">State</label>
              <div class="col-md-4">
                <select class="form-control"  ng-model="selectedItems[0].State"
                  ng-options="option.value as option.name for option in materialStates"
                  ng-init="selectedItems[0].State = selectedItems[0].State || materialStates[1].value">              
                  </select>
              </div>
            </div>


            <!--Description input-->
            <div class="form-group" id="formDescription">
              <label class="col-md-2 control-label" for="description">Description</label>  
              <div class="col-md-4">
                <textarea class="form-control" id="description" name="description" placeholder="Mf: B1" ng-model="selectedItems[0].Description"></textarea>
              </div>
            </div>


            <!--Category input (button opens modal with radio buttons)-->
            <div class="form-group" id="formCategory">
              <label class="col-md-2 control-label" for="categoryButton">Category</label>
              <!--show, when no category is selected-->
              <div class="col-md-4" ng-if="selectedItems[0].Category == null">
                <button type="button" class="btn btn-default btn-block text-left" data-toggle="modal" data-target="#categoryModal"  name="categoryButton"
                style="text-align:left;color:#999;">Select Category</button>
              </div>
              <!--show, when category is selected-->
              <div class="col-md-4" ng-if="selectedItems[0].Category != null" >
                <button type="button" class="btn btn-default btn-block text-left" data-toggle="modal" data-target="#categoryModal" name="categoryButton" 
                style="text-align:left;color:#555;">{{categories.name}}</button>
              </div>
            </div>


            <!--modal for category selection-->
            <div id="categoryModal" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Select Category</h4>
                  </div>
                  <div class="modal-body">

                    <!--recursive template for displaying categories as nested list-->
                    <script type="text/ng-template" id="categoryTree.html">
                      <ul >
                        <li ng-repeat="ctg in ctgs">
                          <label>
                            {{ctg.Name}}
                            <input type="radio" name="categoryParent" ng-value="ctg.id" ng-model="selectedItems[0].Category" ng-change="newCategoryValue('{{ctg.Name}}')">
                          </label>
                          <div ng-include=" 'categoryTree.html'" onload="ctgs = ctg.children">
                          </div>
                        </li>
                      </ul>
                    </script>

                    <!--include template-->
                    <div style="margin-top:1em;" ng-include=" 'categoryTree.html' " onload="ctgs = categoryList ">
                    </div>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>


            <!--Place Input (button opens modal with radio buttons)-->
            <div class="form-group" id="formPlace">
              <label class="col-md-2 control-label" for="placeButton">Place</label>
              <!--show, when no place is selected-->
              <div class="col-md-4" ng-if="selectedItems[0].Place == null">
                <button type="button" class="btn btn-default btn-block text-left" data-toggle="modal" data-target="#placeModal" name="placeButton"
                 style="text-align:left;color:#999;">Select Place</button>
              </div>
              <!--show, when a place is selected-->
              <div class="col-md-4" ng-if="selectedItems[0].Place != null" >
                <button type="button" class="btn btn-default btn-block text-left" data-toggle="modal" data-target="#placeModal" name="placeButton"
                 style="text-align:left;color:#555;">{{places.name}}</button>
              </div>
            </div>

            <!--modal for place selection-->
            <div id="placeModal" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Select Place</h4>
                  </div>
                  <div class="modal-body">

                    <!--recursive template for displaying places as nested list-->
                    <script type="text/ng-template" id="placeTree.html">
                      <ul >
                        <li ng-repeat="plc in plcs">
                          <label>
                            {{plc.Name}}
                            <input type="radio" name="placeParent" ng-value="plc.id" ng-model="selectedItems[0].Place" ng-change="newPlaceValue('{{plc.Name}}')">
                          </label>
                          <div ng-include=" 'placeTree.html'" onload="plcs = plc.children">
                          </div>
                        </li>
                      </ul>
                    </script>

                    <!--include template-->
                    <div style="margin-top:1em;" ng-include=" 'placeTree.html' " onload="plcs = placeList">
                    </div>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>


            <!--Cost input-->
            <!-- Eigentlich müsste der Einkaufspreis auch eingegeben werden? -> klären mit Backend
            <div class="form-group" id="formCost">
              <label class="col-md-2 control-label" for="cost">Cost</label>
              <div class="col-md-4">
                <input type="number" min="0.00" step="0.01" class="form-control" id="cost" name="cost" placeholder="24.00" ng-model="selectedItems[0].Cost"/>
              </div>
            </div>-->


            <!--Retail price input-->
            <div class="form-group" id="formPrice">
              <label class="col-md-2 control-label" for="price">SalePrice</label>
              <div class="col-md-4">
                <input type="number" min="0.00" step="0.01" class="form-control" id="price" name="price" placeholder="42.00" ng-model="selectedItems[0].SalePrice"/>
              </div>
            </div>


            <!--Stock input-->
            <div class="form-group" id="formStock">
              <label class="col-md-2 control-label" for="stock">Storage value</label>
              <div class="col-md-4">
                <input type="number" min="0" class="form-control" id="stock" name="stock" placeholder="30" ng-model="selectedItems[0].StorageValue"/>
              </div>
            </div>


            <!--Critical stock input-->
            <div class="form-group" id="formStock">
              <label class="col-md-2 control-label" for="stock">Critical stock amount</label>
              <div class="col-md-4">
                <input type="number" min="0" class="form-control" id="stock" name="stock" placeholder="30" ng-model="selectedItems[0].CriticalStorageValue"/>
              </div>
            </div>

            
            <!--Type input-->
            <div class="form-group" id="formType">
              <label class="col-md-2 control-label" for="type">Buildtype</label>
              <div class="col-md-4">
                <input type="text" class="form-control" id="type" name="type" placeholder="THT" ng-model="selectedItems[0].Buildtype"/>
              </div>
            </div>


            <!--UOM input-->
            <div class="form-group" id="formMeasure">
              <label class="col-md-2 control-label" for="measure">UOM</label>
              <div class="col-md-4">
                <input type="text" class="form-control" id="measure" name="measure" placeholder="Meter" ng-model="selectedItems[0].UoM"/>
              </div>
            </div>


            <!--UOM_short input-->
            <div class="form-group" id="formMeasure">
              <label class="col-md-2 control-label" for="measure">UOM short</label>
              <div class="col-md-4">
                <input type="text" class="form-control" id="measure" name="measure" placeholder="m" ng-model="selectedItems[0].UoM_short"/>
              </div>
            </div>


            <!--Comment input-->
            <div class="form-group" id="formDescription">
              <label class="col-md-2 control-label" for="description">Comment</label>  
              <div class="col-md-4">
                <textarea class="form-control" id="description" name="description" placeholder="Created Item..." ng-model="selectedItems[0].Comment"></textarea>
              </div>
            </div>


            <!--PublicVisible input-->
            <div class="form-group" id="formState">
              <label class="col-md-2 control-label" for="state">PublicVisible</label>
              <div class="col-md-4">  
                <select class="form-control"  ng-model="selectedItems[0].PublicVisible"
                  ng-options="option.value as option.name for option in Visibility"
                  ng-init="selectedItems[0].PublicVisible = selectedItems[0].PublicVisible || Visibility[1].value">
                </select>   
              </div>
            </div>
              
            <!--Buttons: link for 'Back to menu' has to be set-->
            <div class="form-group">
              <div class="col-md-6 col-md-offset-2">
                <button id="buttonSubmit" name="buttonSubmit" type="button" class="btn btn-success btn-sm" ng-click="createItemToServer('Material')">Create material</button>
                <button id="buttonReset" name="buttonReset" type="reset" form="itemForm" class="btn btn-danger btn-sm" ng-click="clearItem()">Reset form</button>
                <a href="">
                	<a href="#/list" id="buttonMenu" name="buttonMenu" type="button" class="btn btn-primary btn-sm" ng-click="clearItem()">Back to list</a>
                </a>	
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    

<!-- THIS WILL BE DELETED JUST FOR TESTING-->
<div class="well">
  <p>Testing area for backend</p>
  <p>{{selectedItems[0]}}</p>
  <p>{{createItem}}</p>
</div>
