
<div class="container menu-space top-space">

  <h3>Register as Admin</h3>
  <form name="credentials" class="well">

    <div class="form-group row">
      <label class="col-md-1" for="firstname">Firstname*:</label>
      <div class="col-md-3">
        <input type="text" class="form-control" id="firstname" ng-model="firstname" required=""></input>
      </div>
      <label class="col-md-1" for="lastname">Lastname*:</label>
      <div class="col-md-3">
        <input type="text" class="form-control" id="lastname" ng-model="lastname" required=""></input>
      </div>  
      <label class="col-md-1" for="lastname">Student ID*:</label>
      <div class="col-md-3">
        <input type="text" class="form-control" id="matrikel" ng-model="studentId" required=""></input>
      </div>  
    </div>

    <div class="form-group row"> 
      <label class="col-md-1" for="city">City*:</label>
      <div class="col-md-3">
        <input type="text" class="form-control" id="city" ng-model="city" required=""></input>
      </div>
      <label class="col-md-1" for="street">Street*:</label>
      <div class="col-md-3">
        <input type="text" class="form-control" id="street" ng-model="street" required=""></input>
      </div>
      <label class="col-md-1" for="zip">Zip*:</label>
      <div class="col-md-2">
        <input type="text" class="form-control" id="zip" ng-model="zip" required=""></input>
      </div>   
    </div>
    <div class="form-group row">
      <label class="col-md-1" for="phone">Mobilephone*:</label>
      <div class="col-md-3">
        <input type="text" class="form-control" id="phone" ng-model="phone" required=""></input>
      </div>
    </div>  
    <p>* are necessary inputs</p> 
  </form>

  <form name="credentials2" class="well">

    <div class="form-group row">
     
      <label class="col-md-1" >Password*:</label>
      <div class="col-md-3">
        <input type="password" name="inputPw" class="form-control"  ng-model="pw" required=""></input>
      </div>

      <label class="col-md-1" >Password again*:</label>
      <div class="col-md-3">
        <input type="password" name="inputPwAgain" class="form-control"  ng-model="pwAgain" required=""></input>
        
        <p class="text-success" ng-show="pw == pwAgain && !credentials2.inputPwAgain.$error.required"> Passwords are equal.</p>
        <p class="text-danger" ng-show="pw != pwAgain">Passwords aren't equal</p>
      </div>
    </div>
    
    <p>* are necessary inputs</p> 
  </form>
  <div class="text-center">
   <button style="width: 200px; margin-bottom:10px;" class="btn btn-danger" ng-disabled="credentials.$error.required || credentials2.$error.required || pw != pwAgain" ng-click="sendRegistration()"> Register </button>
   <button ng-click="sendRegistration()">TEST (avoid validation)</button>
 </div>
</div>