<!-- 
Controller: ListCtrl - controllers.js
Additionally needed scripts: js/dirPagination.js 
-->

<!-- Basic Common Filter -->
<div class="container-fluid">
 	<div class="row">
 		<div class="col-lg-4 col-xs-12"></div>
 		<div class="col-lg-4 col-xs-12 text-center">
			<form class="form-inline" role="form" ng-submit="search()">
				<div class="form-group" id="the-basics">
					<label for="search">Search:</label>
					<input ng-model="searchQuery" class="form-control" placeholder="Search Text">	<!-- common search filters, filters every entrys and attributes-->
				</div>
			</form>
 		</div>
 		<div class="col-lg-4 col-xs-12"></div>
 	</div>
</div>

<!-- Inventory List--> 
<div class="container" >
	<div class="col-md-12">       
		<!-- Table -->
		<div class="container table-responsive">        <!-- responsive, striped table-->  
			<table  class="table table-hover table-striped">			
				<thead>
				  <tr>
				    <th ng-click="sort('id')">ID		<!-- Uses the function sort in controller.js to handle the orderBy -->
						<span class="glyphicon sort-icon" ng-show="sortKey=='id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				    </th>
				    <th ng-click="sort('name')">Name
				    	<span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				    </th>
				    <th ng-click="sort('state')">State
				    	<span class="glyphicon sort-icon" ng-show="sortKey=='state'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				    </th>
				    <th ng-click="sort('category_id')">Category
						<span class="glyphicon sort-icon" ng-show="sortKey=='category_id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				    </th>
				    <th ng-click="sort('build_type')">BuildType
				    	<span class="glyphicon sort-icon" ng-show="sortKey=='build_type'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				    </th>
				    <th ng-click="sort('sale_price')">SalePrice
				    	<span class="glyphicon sort-icon" ng-show="sortKey=='sale_price'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				    </th>
				    <th ng-click="sort('storage_value')">StorageValue
				    	<span class="glyphicon sort-icon" ng-show="sortKey=='storage_value'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				    </th>
				    <th ng-click="sort('type')">Dev/Mat
				    	<span class="glyphicon sort-icon" ng-show="sortKey=='type'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				    </th>		    
				  </tr>
				</thead>
				<tbody>	<!-- List items in table -->
				  <tr ng-click="viewDetail(listItem.Id);" ng-repeat="listItem in listData">	<!-- detailview via leftmouse click on the item -->
				    <td>{{listItem.id}}</td>
				    <td>{{listItem.name}}</td>
				    <td>
						<div ng-switch="listItem.state">
			      			<div ng-switch-when="0" class="text-warning">Not available</div>
			      			<div ng-switch-when="1" class="text-success">Available</div>
			      			<div ng-switch-when="2" class="text-danger">Defective</div>
			     			<div ng-switch-when="3" class="text-danger">Missing</div>
			     			<div ng-switch-when="4" class="text-warning">Rented</div>
		     			</div>
				    </td>
				    <td>{{listItem.category.name}} ({{listItem.category_id}})</td>
				    <td>{{listItem.build_type}}</td>
				    <td>{{listItem.sale_price}}</td>
				    <td><!-- Show StorageValue when it is a material-->
						<div ng-if="listItem.type == 'MATERIAL'">
							{{listItem.storage_value}}
						</div>
					</td>
				    <td>
				    	<!-- Filter Device and Material -->
				    	<div ng-if="listItem.type == 'DEVICE'">
				    		<p>Device</p> 
				    	</div>
				    	<div ng-if="listItem.type == 'MATERIAL'">
				    		<p>Material</p>
				    	</div>
			    	</td>
				  </tr>
				</tbody>
			</table>
		</div>
	    
		<!-- Pageination -->
		<div class="text-center">
			<ul class="pagination">
				<li ng-class="{disabled: currentPage==1}">
					<a aria-label="Previous" ng-click="previousPage()">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>

				<li ng-repeat="page in pageList" ng-class="{active: currentPage==page.index}">
					<a ng-click="loadPage(page.index)">
						{{page.index}}
					</a>
				</li>

				<li ng-class="{disabled: currentPage==paginationData.last_page}">
					<a aria-label="Next" ng-click="nextPage()">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			</ul>
		</div>

	</div>
</div>



<!-- Typeahead List //NOT INCLUDED, WIP
<datalist id="mylist">
	<option ng-repeat="x in typeaheadData">{{x.data}}</option>
</datalist> -->