<!--
HIER NOCH VERBESSERN - KOMMENTARE ETC.


CreatedbyID fehlt noch.
attachments werden erstmal vernachlässigt.
-->

    <div class="container top-space bot-space">
      <div class="panel panel-default">
        <div class="panel-heading text-center"><h4>Create new device</h4></div>
        <div class="panel-body">

        <div id="messages" class="hide" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <div id="messages_content"></div>
            </div>
        	
          <!--Begin form-->
          <form id="itemForm" class="form-horizontal">

           	<!--Name input-->
            <div class="form-group" id="formName">
              <label class="col-md-2 control-label" for="name">Name</label>
              <div class="col-md-4">
                <input type="text" class="form-control" id="name" name="name" placeholder="Hammer" ng-model="selectedItems[0].Name" />
              </div>
            </div>

            <!--Description input-->
            <div class="form-group" id="formDescription">
              <label class="col-md-2 control-label" for="description">Description</label>  
              <div class="col-md-4">
                <textarea class="form-control" id="description" name="description" placeholder="Mf: B1" ng-model="selectedItems[0].Description"></textarea>
              </div>
            </div>

            <!--Category input-->
            <div class="form-group" id="formCategory">
              <label class="col-md-2 control-label" for="category">Category</label>
              <div class="col-md-4">
                <input type="search" class="form-control" id="category" name="category" placeholder="Search for category..." ng-model="selectedItems[0].Category"/> 
              </div>
            </div>

            <!--Place input-->
            <div class="form-group" id="formPlace">
              <label class="col-md-2 control-label" for="place">Place</label>
              <div class="col-md-4">
                <input type="search" class="form-control" id="place" name="place" placeholder="Search for place..." ng-model="selectedItems[0].Place"/> 
              </div>
            </div>

            <!--State input-->
            <div class="form-group" id="formState">
              <label class="col-md-2 control-label" for="state">State</label>
              <div class="col-md-4">
                <input type="text" value="new" class="form-control" id="state" name="state" placeholder="new" ng-model="selectedItems[0].State"/>
              </div>
            </div>

            <!--Purchase price input-->
            <div class="form-group" id="formCost">
              <label class="col-md-2 control-label" for="cost">Cost</label>
              <div class="col-md-4">
                <input type="number" min="0.00" step="0.01" class="form-control" id="cost" name="cost" placeholder="42.00" ng-model="selectedItems[0].Cost"/>
              </div>
            </div>

            <!--Retail price input-->
            <div class="form-group" id="formPrice">
              <label class="col-md-2 control-label" for="price">Saleprice</label>
              <div class="col-md-4">
                <input type="number" min="0.00" step="0.01" class="form-control" id="price" name="price" placeholder="42.00" ng-model="selectedItems[0].Saleprice"/>
              </div>
            </div>

            <!--Comment input-->
            <div class="form-group" id="formDescription">
              <label class="col-md-2 control-label" for="description">Comment</label>  
              <div class="col-md-4">
                <textarea class="form-control" id="description" name="description" placeholder="Mf: B1" ng-model="selectedItems[0].Comment"></textarea>
              </div>
            </div>
            
            <!--PublicVisible input-->
            <div class="form-group" id="formState">
              <label class="col-md-2 control-label" for="state">Visible</label>
              <div class="col-md-4">
                <input type="text" class="form-control" id="state" name="state" placeholder="1 = true , 0 = false" ng-model="selectedItems[0].PublicVisible"/>
              </div>
            </div>

            
             <!--Buttons: link for 'Back to menu' has to be set--> 
             <div class="form-group">
              <div class="col-md-6 col-md-offset-2">
                <button id="buttonSubmit" name="buttonSubmit"type="submit" class="btn btn-success btn-sm" ng-click="createItemToServer()">Create material</button>
                <button id="buttonReset" name="buttonReset" type="reset" form="itemForm" class="btn btn-danger btn-sm" ng-click="clearItem()">Reset form</button>
                 <a href="">
                  <a href="#/list" id="buttonMenu" name="buttonMenu" type="button" class="btn btn-primary btn-sm" ng-click="clearItem()">Back to list</a>
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!--JS-file is necessary for form validtion by using JQuery-->
    <!--script might has to be changed when the submission is handled via Angular-->
    <script type="text/javascript" src="formValidation.js"></script>

  <!-- DAS HIERMUSS AUCH UNBEDINGT AUSGELAGERT WERDEN ODER ANDERS GEHANDHABT WERDEN-->


<div class="well">
  <p>Testing area for backend</p>
  <p>{{selectedItems[0]}}</p>
  <p>CreaItem:</p>
  <p>{{createItem}}</p>
</div>
