<div class="menu-space">
	<div class="container well">
		<div class="text-center">
			<h1> Forgot your Password? </h1>
			<h4>Enter the email-adress that is linked to your user-account. </h4>
			<form class="form-horizontal" name="mailForm">
				<div class="form-group">
					<label class="col-xs-2 col-sm-1 col-sm-offset-1" style="padding-top: 10px"> Email </label>
					<div class="col-xs-6 col-sm-6"> 
						<input class="form-control" name="inputForMail" type="email" placeholder="Email" ng-model="mail" required=""></input>
					</div>
					<button class="col-xs-4 col-sm-2 btn btn-danger" ng-click="sendEmail(mail)" ng-disabled="mailForm.inputForMail.$error.email || mailForm.inputForMail.$error.required"> Send email </button>
					<div class="col-sm-2"></div>
				</div>          
			</form>
		</div>
		<div class="text-center">
			<p style="margin-bottom:50px" class="text-warning" ng-show="mailForm.inputForMail.$error.email || mailForm.inputForMail.$error.required"> Not a valid email.</p>
			<a class="btn btn-primary" href="#/login"> Back </a>
		</div>      
	</div>
	<a class="btn btn-danger" href="#/newPassword"> test --> get to html page when u clicked the link  (newPassword.html) </a>
</div>
