<!-- 
Controller: ListCtrl - controllers.js
Additionally needed scripts: js/dirPagination.js 
-->


<!-- Typeahead List, loaded from the db -->
<datalist id="mylist">
	<option ng-repeat="x in typeaheadData">{{x.data}}</option>
</datalist>


<div class="container top-space bot-space">
	<div class="row">
		<div class="col-md-12">
			<a href="#/create_device"><button class="btn btn-success">Create Device +</button></a>
			<a href="#/create_material"><button class="btn btn-success">Create Material +</button></a>
		</div>
	</div>
</div>


<!-- Basic Common Filter -->
<div class="container-fluid">
 	<div class="row">
 		<div class="col-lg-4 col-xs-12"></div>
 		<div class="col-lg-4 col-xs-12 text-center">
			<form class="form-inline" role="form">
				<div class="form-group" id="the-basics">
					<label for="search">Search:</label>
					<input ng-model="search.$" class="form-control" placeholder="Search Text" list="mylist">	<!-- common search filters, filters every entrys and attributes-->
				</div>
				<button type="button" class="btn btn-default btn-sm" data-toggle="collapse" href="#collapse1">Advanced Filters</button>
			</form>
 		</div>
 		<div class="col-lg-4 col-xs-12"></div>
 	</div>

	<!-- Collapsible Filter -->
	<div class="row">
		<div class="col-lg-4 col-md-3 col-xs-12"></div>
		<div class="col-lg-4 col-md-6 col-xs-12 panel-group">
			<div class="panel panel-default">				
				<div id="collapse1" class="panel-collapse collapse">
					<div class="panel-body">							
							<hr>
							<div class="row">
								<label for="search" class="col-lg-4 col-md-4 col-xs-12">Items per page:</label>		<!-- controls the items per page -->
								<input ng-model="pageSize" type="text" class="col-lg-6 col-md-8 col-xs-12">
							</div>	<!-- Advanced Filter Options for specific filtering-->
							<hr>
							<div class="row">
								<label for="search" class="col-lg-2 col-md-2 col-xs-12">ID:</label>
								<input ng-model="search.Id" type="text" class="col-lg-4 col-md-4 col-xs-12">
								<label for="search" class="col-lg-2 col-md-2 col-xs-12">Name:</label>
								<input ng-model="search.Name" type="text" class="col-lg-4 col-md-4 col-xs-12">
							</div>
							<div class="row">
								<label for="search" class="col-lg-2 col-md-2 col-xs-12">State:</label>
								<input ng-model="search.State" type="text" class="col-lg-4 col-md-4 col-xs-12">
								<label for="search" class="col-lg-2 col-md-2 col-xs-12">Cost:</label>
								<input ng-model="search.Cost" type="text" class="col-lg-4 col-md-4 col-xs-12">				
							</div>
							<div class="row">
								<label for="search" class="col-lg-2 col-md-2 col-xs-12">StoValue:</label>
								<input ng-model="search.StorageValue" type="text" class="col-lg-4 col-md-4 col-xs-12">
								<label for="search" class="col-lg-2 col-md-2 col-xs-12">CritSto:</label>
								<input ng-model="search.CriticalStorageValue" type="text" class="col-lg-4 col-md-4 col-xs-12">			
							</div>
							<br>
							<div class="row">
								<label for="search" class="col-lg-2 col-md-2 col-xs-12">Cate.:</label>
								<input ng-model="search.Category" type="text" class="col-lg-10 col-md-10 col-xs-12">
							</div>
							<div class="row">
								<label for="search" class="col-lg-2 col-md-2 col-xs-12">Place.:</label>
								<input ng-model="search.Place" type="text" class="col-lg-10 col-md-10 col-xs-12">
							</div>
							<br>
							<div class="row">
								<label for="search" class="col-lg-2 col-md-2 col-xs-12">BType.:</label>
								<input ng-model="search.BuildType" type="text" class="col-lg-4 col-md-4 col-xs-12">
								<label for="search" class="col-lg-2 col-md-2 col-xs-12">MatID.:</label>
								<input ng-model="search.material_id" type="text" class="col-lg-4 col-md-4 col-xs-12">
							</div><hr>
							<div>
								<!-- Reset filter options -->
								<button type="button" class=" col-lg-12 col-xs-12 btn btn-info btn-sm" ng-click="resetFilter()">Reset Filter</button>						
							</div>
					</div>
					<div class="panel-footer"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Inventory List--> 
<div class="container" >
	<div class="col-md-12">       
		<!-- Table -->
		<div class="container table-responsive">        <!-- responsive, striped table-->  
			<table  class="table table-hover table-striped">			
				<thead>
				  <tr>
				    <th ng-click="sort('Id')">ID		<!-- Uses the function sort in controller.js to handle the orderBy -->
						<span class="glyphicon sort-icon" ng-show="sortKey=='Id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				    </th>
				    <th ng-click="sort('Name')">Name 
				    	<span class="glyphicon sort-icon" ng-show="sortKey=='Name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				    </th>
				    <th ng-click="sort('State')">State 
				    	<span class="glyphicon sort-icon" ng-show="sortKey=='State'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				    </th>
				    <th ng-click="sort('Category')">Category
						<span class="glyphicon sort-icon" ng-show="sortKey=='Category'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				    </th>
				    <th ng-click="sort('BuildType')">BuildType
				    	<span class="glyphicon sort-icon" ng-show="sortKey=='BuildType'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				    </th>
				    <th ng-click="sort('Cost')">Cost
				    	<span class="glyphicon sort-icon" ng-show="sortKey=='Cost'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				    </th>
				    <th ng-click="sort('StorageValue')">StorageValue
				    	<span class="glyphicon sort-icon" ng-show="sortKey=='StorageValue'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				    </th>
				    <th ng-click="sort('Place')">Place
				    	<span class="glyphicon sort-icon" ng-show="sortKey=='Place'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				    </th>
				    <th ng-click="sort('material_id')">material_id
				    	<span class="glyphicon sort-icon" ng-show="sortKey=='material_id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				    </th>
				    <th>Add
				    </th>
				    <th>DetailView
				    </th>
				  </tr>
				</thead>
				<tbody>	<!-- List items in table -->
				  <tr ng-dblclick="viewDetail(listItem.Id);" dir-paginate="listItem in listData| orderBy:sortKey:reverse | filter: search | itemsPerPage:pageSize">	<!-- detailview via double leftmouse click on the item or the show button-->
				    <td>{{listItem.Id}}</td>
				    <td>{{listItem.Name}}</td>
				    <td>{{listItem.State}}</td>
				    <td>{{listItem.Category}}</td>
				    <td>{{listItem.BuildType}}</td>
				    <td>{{listItem.Cost}}</td>
				    <td>
						<!-- we are under the criticalStorageValue highlight it as red-->
						<div ng-if="listItem.StorageValue < listItem.CriticalStorageValue"> 
							<div style="color:red">{{listItem.StorageValue}} / {{listItem.CriticalStorageValue}} 
							</div>
						</div>
						<!-- StorageValue is normal so just show us the values-->
						<div ng-if="listItem.StorageValue > listItem.CriticalStorageValue"> 
							{{listItem.StorageValue}} / {{listItem.CriticalStorageValue}} 	
						</div>
				    </td>
				    <td>{{listItem.Place}}</td>
				    <td>
				    	<!-- Filter Device and Material -->
				    	<div ng-if="listItem.material_id == null"> 
				    		<p>Device</p> 
				    	</div>
				    	<div ng-if="listItem.material_id != null"> 
				    		Material (id:{{listItem.material_id}}) 
				    	</div>
			    	</td>    
				    <td>
					    <button  class="btn btn-sm btn-info" ng-click="addItem(listItem);">+</button>
					</td>
				    <td><button class="btn btn-sm btn-default" ng-click="viewDetail(listItem.Id);">Show</button></td>
				  </tr>
				</tbody>
			</table>
		</div>

			
	    
	    <!-- Pageination --> 
		<div class="text-center">
			<dir-pagination-controls direction-links="true" boundary-links="true" ></dir-pagination-controls>
		</div>
	</div>
</div>

<div class="container bot-space" style="padding-top: 0px;">
	<div class="row">
		<div class="col-md-12">
			
			
			<div class="well">
				<div ng-repeat="item in selectedItems">
				  <p>{{$index+1}} | {{item}}<button class="btn btn-sm btn-danger" ng-click="removeItem($index)">X</button></p>
				</div>
			</div>


			<button class="btn btn-lg btn-danger" ng-disabled="!selectedItems[0]" ng-click="loadBorrow()">Borrow</button>
			<button class="btn btn-lg btn-warning" ng-click="clearItem()">Clear</button>	
		</div>
	</div>
</div>