<div class="container" style="height: 500px;">
      <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>   
        <input id="inputEmail" class="form-control" placeholder="Email" required="" autofocus="" ng-model="username"> </input>
        <input id="inputPassword" class="form-control" placeholder="Password" required="" type="password" ng-model="password"> </input>  
        <button class="btn btn-lg btn-primary btn-block" ng-click="signIn()">Sign in</button>
        <a href="#/dashboard" class="btn btn-lg btn-primary btn-block" >Skip(Test)</a>
      </form>
 </div> 
















