
<div class="container" style="min-height:500px;">
<div class="col-lg-3"></div>	
<div class="col-lg-6">
	<form class="form-signin">
		<h2 class="form-signin-heading text-center">Sign in</h2>
		<label for="inputEmail" >Email address</label>
		<input id="inputEmail" class="form-control" placeholder="Email address" type="email" ng-model="email">
		<p></p>
		<label for="inputPassword" >Password</label>
		<input id="inputPassword" class="form-control" placeholder="Password" type="password" ng-model="password">
		<p ng-show="error.show" ng-model="error"> Incorrect email or password </p>
		<a href="#/forgotPassword"> Forgot your password? </a> 
		<p></p>

		<button class="btn btn-lg btn-primary btn-block" ng-click="signIn()" >Sign in</button>
	</form>
</div>
</div> <!-- /container -->



<a href="#/dashboard" class="btn btn-lg btn-primary btn-block" >Skip(Test)</a>
