<div class="menu-space top-space">
	<div class="container well">
		<div class="text-center">
			<h1> Reset Password </h1>

			<form name="newPwForm" class="form-horizontal">

				<div class="form-group">
					<label class="col-sm-2" style="padding-top: 10px"> Old password </label>
					<div class="col-sm-8"> 
						<input class="form-control" name="inputOldPw" placeholder="New password" type="password" ng-model="oldPw" required=""></input> 
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2" style="padding-top: 10px"> New password </label>
					<div class="col-sm-8"> 
						<input class="form-control" name="inputNewPw" placeholder="New password" type="password" ng-model="newPw" required=""></input> 
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2" style="padding-top: 10px"> Confirm new password </label>
					<div class="col-sm-8"> 
						<input class="form-control" name="inputNewPwConfirm" placeholder="Confirm new password" type="password" ng-model="newPwConfirm" required=""></input>
						<p ng-show="newPwConfirm != newPw" class="text-danger"> Passwords aren't equal. </p>
						<p ng-show="newPwConfirm == newPw && !newPwForm.inputNewPw.$error.required" class="text-success"> Passwords are equal. </p>
					</div>
				</div>

				<button ng-disabled="newPwConfirm != newPw || newPwForm.inputNewPw.$error.required || newPwForm.inputNewPwConfirm.$error.required || newPwForm.inputOldPw.$error.required" class="btn btn-danger" ng-click="changePasswordAsAdmin(oldPw, newPw)"> Change password </button>
				
			</form>
			<br>
			<a class="btn btn-primary" href="#/adminconf"> Back </a>     
		</div>
	</div>
</div>
