<div class="container" ng-app="app" ng-controller='AppCtrl'>
  <div class="well page-header">
    <h2> Category Management</h2>
    <p> Each category can be part of another category. Please, pay attention to following rules: </p>
    <ul>
      <li> Select one of the existing categories to edit, delete or add a child. </li>
      <li> If no category is selected you can only add root categories. </li>
      <li> You are only allowed to delete categories without children! </li>
    </ul>  
    </div>

    <script type="text/ng-template" id="treeLevel.html">
      <ul class="list-group">
        <li ng-repeat="item in items" class="list-group-item">
          <label data-toggle="tooltip" data-placement="right" title="{{item.Description}}">
            {{item.Name}}
            <input type="radio" name="Parent" value="{{item.id}}" ng-model="formData.Parent" ng-change="newValue('{{item.Name}}', '{{item.Description}}', {{item.children}})">
          </label>
          <div ng-include=" 'treeLevel.html'" onload="items = item.children">
          </div>
        </li>
      </ul>
    </script>

    <div style="margin-top:1em;" ng-include=" 'treeLevel.html' " onload="items = children">
    </div>

    <!--Add new root category-->
    <div ng-if="formData.Parent == null">
      <form role="form">
        <div class="well">
          <h4>Add new root category</h4>
            <hr>
            <div class="form-group">
              <label  for="name">Name</label>
              <input type="text" class="form-control" name="name" id="name" ng-model="formData.name">
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <input type="textarea" class="form-control" name="description" id="description" ng-model="formData.description">
            </div>
            <button type="button" class="btn btn-success" ng-click="createCategoryEvent(formData.name, formData.Parent, formData.description)">
              <span class="glyphicon glyphicon-plus"></span> Add
            </button>
        </div>    
      </form>
    </div>

    <!--Add new child to existing category-->
    <div ng-if="formData.Parent != null">
      <form role="form">
        <div class="well">
          <h4 data-toggle="collapse" data-target="#addChild">Add new child for <b>{{categories.name}}</b></h4>
          <div id="addChild"  class="collapse">
            <hr>
            <div class="form-group" >
              <label for="name">Name</label>
              <input type="text" class="form-control" name="name" id="name" ng-model="formData.name">
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <input type="textarea" class="form-control" name="description" id="description" ng-model="formData.description">
            </div>
            <button type="button" class="btn btn-success" ng-click="createCategoryEvent(formData.name, formData.Parent, formData.description)">
              <span class="glyphicon glyphicon-plus"></span> Add
            </button>
          </div>
        </div>    
      </form>
    </div>

    <!--edit existing category-->
    <div ng-if="formData.Parent != null">
      <form role="form">
        <div class="well">
          <h4 data-toggle="collapse" data-target="#edit">Edit <b>{{categories.name}}</b></h4>
          <div id="edit"  class="collapse">
            <hr>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" name="name" id="name" placeholder="{{categories.name}}" ng-model="formData.name">
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <input type="textarea" class="form-control" name="description" id="description" placeholder="{{categories.description}}" ng-model="formData.description">
            </div>    
            <button type="button" class="btn btn-primary" ng-click="updateCategoryEvent(formData.name, formData.Parent, formData.description)">
              <span class="glyphicon glyphicon-edit"></span> Edit
            </button>
          </div>
        </div>    
      </form>
    </div>

    <!--delete category (shows only when selected category has no children)-->
    <div ng-if="formData.Parent != null && categories.children.length < 1">
      <form role="form">
        <div class="well">
          <h4>Delete <b>{{categories.name}}</b></h4>
          <button type="button" class="btn btn-danger" ng-click="deleteCategoryEvent(formData.Parent)">
            <span class="glyphicon glyphicon-trash"></span> Delete
          </button>
        </div>    
      </form>
    </div>

    <!--code for tests    
    <pre>
        {{ formData }}
    </pre>
    <pre>
        {{ categories }}
    </pre>
    <pre>
        {{Flat | json}}
    </pre>-->
  </div>
</div>

<!-- Scripts/Controller/Mainapp -->
<script>

  // jQuery for tooltips (shows description of category) --> using Bootstrap JS
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });

  // App & Controller for tests --> has to be included in project 
  var app = angular.module('app', []);

  app.controller('AppCtrl', function ($scope) {


    /*sorts query from this:
      [
        {"id": 456, "before": 123, "name": "Dogs"},
        {"id": 214, "before": 456, "name": "drilling machine A"},
        {"id": 123, "before": null, "name": "Tools"},
        {"id": 810, "before": 456, "name": "drilling machine B"},
        {"id": 919, "before": 456, "name": "drilling machine C"}
      ] 

      to this:
      [
        {"id": 123, "before": null, "name": "Tools"},
        {"id": 456, "before": 123, "name": "drilling machine"},
        {"id": 214, "before": 456, "name": "drilling machine A"},
        {"id": 810, "before": 456, "name": "drilling machine B"},
        {"id": 919, "before": 456, "name": "drilling machine C"}
      ] */
    var _queryTreeSort = function(options) {
      var cfi, e, i, id, o, pid, rfi, ri, thisid, _i, _j, _len, _len1, _ref, _ref1;
      id = options.id || "id";
      pid = options.BeforeID || "BeforeID";
      ri = [];
      rfi = {};
      cfi = {};
      o = [];
      _ref = options.q;
      for (i = _i = 0, _len = _ref.length; _i < _len; i = ++_i) {
        e = _ref[i];
        rfi[e[id]] = i;
        if (cfi[e[pid]] == null) {
          cfi[e[pid]] = [];
        }
        cfi[e[pid]].push(options.q[i][id]);
      }
      _ref1 = options.q;
      for (_j = 0, _len1 = _ref1.length; _j < _len1; _j++) {
        e = _ref1[_j];
        if (rfi[e[pid]] == null) {
          ri.push(e[id]);
        }
      }
      while (ri.length) {
        thisid = ri.splice(0, 1);
        o.push(options.q[rfi[thisid]]);
        if (cfi[thisid] != null) {
          ri = cfi[thisid].concat(ri);
        }
      }
      return o;
    };


    /* tree becomes nested like his:
      [
        {
          "id": 123,
          "before": 0,
          "name": "Tools",
          "children": [
            {
              "id": 456,
              "before": 123,
              "name": "drilling machine"
              "children": [
                {
                  "id": 214,
                  "before": 456,
                  "name": "drilling machine A"
                },
                { 
                  "id": 810,
                  "before": 456,
                  "name": "drilling machine B"
                },
                {
                  "id": 919,
                  "before": 456,
                  "name": "drilling machine C"
                }
              ]
            }
          ]
        }
      ] */
    var _makeTree = function(options) {
      var children, e, id, o, pid, temp, _i, _len, _ref;
      id = options.id || "id";
      pid = options.BeforeID || "BeforeID";
      children = options.children || "children";
      temp = {};
      o = [];
      _ref = options.q;
      for (_i = 0, _len = _ref.length; _i < _len; _i++) {
        e = _ref[_i];
        e[children] = [];
        temp[e[id]] = e;
        if (temp[e[pid]] != null) {
          temp[e[pid]][children].push(e);
        } else {
          o.push(e);
        }
      }
      return o;
    };

    //Data for testing
    //it might be a proplem if Data from Server is like this {[id: 1, name: "tool", before: null], [...], ...}
    var test = [
      {"id": 1, "Name": "Werkzeug", "Description": "Tools you can use with one hand", "BeforeID": null, "created_at": "2016-06-07 13:59:31", "updated_at": "2016-06-07 13:59:31"},
      {"id": 2, "Name": "Bohrer", "Description": "Tools you can use with one hand", "BeforeID": 1, "created_at": "2016-06-07 13:59:31", "updated_at": "2016-06-07 13:59:31"},
      {"id": 3, "Name": "Bohrer A", "Description": "Tools you can use with one hand", "BeforeID": 2, "created_at": "2016-06-07 13:59:31", "updated_at": "2016-06-07 13:59:31"},
      {"id": 4, "Name": "Bohrer B", "Description": "Tools you can use with one hand", "BeforeID": 2, "created_at": "2016-06-07 13:59:31", "updated_at": "2016-06-07 13:59:31"},
      {"id": 5, "Name": "TGA", "Description": "Tools you can use with one hand", "BeforeID": 3, "created_at": "2016-06-07 13:59:31", "updated_at": "2016-06-07 13:59:31"},
      {"id": 6, "Name": "Kondensator", "Description": "Tools you can use with one hand", "BeforeID": 7, "created_at": "2016-06-07 13:59:31", "updated_at": "2016-06-07 13:59:31"},
      {"id": 7, "Name": "elekt. Bauteil", "Description": "Tools you can use with one hand", "BeforeID": null, "created_at": "2016-06-07 13:59:31", "updated_at": "2016-06-07 13:59:31"}
    ];

    //call functions to format query for rendering in html-template as nested list
    var result = _queryTreeSort({q: test});
    var tree = _makeTree({q: result});

    //for rendering nested list --> input is tree
    $scope.children = tree;

    //for input fields and radio-buttons
    $scope.formData = {name: "", Parent: null, description: ""};

    //gets input from newValue 
    $scope.categories = {name: "1", description: "", children: ""};

    //changes input of categories when new radio-button is selected
    $scope.newValue = function(n, d, c) {
        $scope.categories = {name: n, description: d, children: c};
    };


    //==============================
    //EVENTS (categoryManagement)
    //==============================


    //==============================
    //update Category
    //==============================
    //in API erwartet 'Update a Category' die beforeID?
    $scope.updateCategoryEvent = function(categoryName, beforeID, categoryDescription) { 

      alert(categoryName + " | " + beforeID + " | " + categoryDescription);
      var Indata = {'name': categoryName, 'before': beforeID, 'description': categoryDescription };
      //POST used material to the server
      /* $http.post("/api/v1/restricted/device/create", Indata).success(function(data, status) {
      //SUCCESSFULL
      alert("success");
      });*/
    };

    //==============================
    //create Category
    //==============================
    $scope.createCategoryEvent = function(categoryName, beforeID, categoryDescription) { 

      alert(categoryName + " | " + beforeID + " | " + categoryDescription);
      var Indata = {'name': categoryName, 'before': beforeID, 'description': categoryDescription };
      //POST used material to the server
      /* $http.post("/api/v1/restricted/device/create", Indata).success(function(data, status) {
      //SUCCESSFULL
      alert("success");
      });*/
    };

    //==============================
    //delete Category
    //==============================
    //in API überhaupt integriert? -> es ist sichergestellt, dass nur kategorien ohne kinder gelöscht werden
    $scope.deleteCategoryEvent = function(categoryID) { 

      alert(categoryID);
      var Indata = {'id': categoryID };
      //POST used material to the server
      /* $http.post("/api/v1/restricted/device/create", Indata).success(function(data, status) {
      //SUCCESSFULL
      alert("success");
      });*/
    };  

  });


</script>