<!-- 
Controller: PlaceCtrl - controllers.js
Additionally needed scripts: tree.js(for nesting data from server)
-->
<div class="container">
  <div class="well page-header">
    <div style="text-align:right;">
      <a href="#/sysconf" class="btn btn-default btn-sm" role="button" style="text-align:center;">Back</a>
    </div>
    <h2> Location Management</h2>
    <p> Each place can be part of another place. Please, pay attention to following rules: </p>
    <ul>
      <li> Select one of the existing places to edit, delete or add a child. </li>
      <li> If no place is selected you can only add root places. </li>
      <li> You are only allowed to delete places without children! </li>
    </ul>  
    </div>

    <!--script creating template like a nested list-->
    <script type="text/ng-template" id="treeLevel.html">
      <ul class="list-group">
        <li ng-repeat="item in items" class="list-group-item">
          <label>
            {{item.Name}}
            <input type="radio" name="Parent" value="{{item.id}}" ng-model="formData.Parent" ng-change="newValue('{{item.Name}}', {{item.children}})">
          </label>
          <div ng-include=" 'treeLevel.html'" onload="items = item.children">
          </div>
        </li>
      </ul>
    </script>

    <!--includes nested list (children is nested Data with all places)-->
    <div style="margin-top:1em;" ng-include=" 'treeLevel.html' " onload="items = children">
    </div>

    <!--Add new root place-->
    <div ng-if="formData.Parent == null">
      <form role="form">
        <div class="well">
          <h4>Add new root place</h4>
            <hr>
            <div class="form-group">
              <label  for="name">Name</label>
              <input type="text" class="form-control" name="name" id="name" ng-model="formData.name">
            </div>
            <button type="button" class="btn btn-success" ng-click="createPlaceEvent(formData.name, formData.Parent)">
              <span class="glyphicon glyphicon-plus"></span> Add
            </button>
        </div>    
      </form>
    </div>

    <!--Add new child to existing place-->
    <div ng-if="formData.Parent != null">
      <form role="form">
        <div class="well">
          <h4 data-toggle="collapse" data-target="#addChild">Add new child for <b>{{places.name}}</b></h4>
          <div id="addChild"  class="collapse">
            <hr>
            <div class="form-group" >
              <label for="name">Name</label>
              <input type="text" class="form-control" name="name" id="name" ng-model="formData.name">
            </div>
            <button type="button" class="btn btn-success" ng-click="createPlaceEvent(formData.name, formData.Parent)">
              <span class="glyphicon glyphicon-plus"></span> Add
            </button>
          </div>
        </div>    
      </form>
    </div>

    <!--Edit existing place-->
    <div ng-if="formData.Parent != null">
      <form role="form">
        <div class="well">
          <h4 data-toggle="collapse" data-target="#edit">Edit <b>{{places.name}}</b></h4>
          <div id="edit"  class="collapse">
            <hr>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" name="name" id="name" placeholder="{{places.name}}" ng-model="formData.name">
            </div>
            <button type="button" class="btn btn-primary" ng-click="updatePlaceEvent(formData.name, formData.Parent)">
              <span class="glyphicon glyphicon-edit"></span> Edit
            </button>
          </div>
        </div>    
      </form>
    </div>

    <!--delete place (shows only when selected place has no children)-->
    <div ng-if="formData.Parent != null && places.children.length < 1">
      <form role="form">
        <div class="well">
          <h4>Delete <b>{{places.name}}</b></h4>
          <button type="button" class="btn btn-danger" ng-click="deletePlaceEvent(formData.Parent)">
            <span class="glyphicon glyphicon-trash"></span> Delete
          </button>
        </div>    
      </form>
    </div>

    <!--code for tests    
    <pre>
        {{ formData }}
    </pre>
    <pre>
        {{ places }}
    </pre>
    <pre>
        {{Flat | json}}
    </pre>-->
  </div>
</div>