<!-- 
Controller: CategoryCtrl - controllers.js
Additionally needed scripts: services.js('dataFactory', 'tree')
-->
<div class="container">
  <div class="well page-header">
    <div style="text-align:right;">
      <a href="#/sysconf" class="btn btn-default btn-sm" role="button" style="text-align:center;">Back</a>
    </div>
    <h2> Category Management</h2>
    <p> Each category can be part of another category. Please, pay attention to following rules: </p>
    <ul>
      <li> Select one of the existing categories to edit, delete or add a child. </li>
      <li> If no category is selected you can only add root categories. </li>
      <li> You are only allowed to delete categories without children! </li>
      <li> Further you can not delete categories which are already assigned to an item! </li>
    </ul>  
    </div>
    
    <!--recursive template for displaying categories as nested list-->
    <script type="text/ng-template" id="categoryTree">
      <div class="list-group-item">
        <input type="radio" id="Parent{{category.id}}" ng-value="category.id" ng-model="formData.Parent"
           ng-change="newValue('{{category.Name}}', '{{category.Description}}', {{category.children}})">
        <label for="Parent{{category.id}}">
          {{category.Name}}
        </label>  
        <span class="glyphicon glyphicon-info-sign" data-toggle="collapse" data-target="#description{{category.id}}"
        ng-if="category.Description != null && category.Description != '' ">
        </span>
        <p id="description{{category.id}}" class="list-group-item-text help-block collapse">{{category.Description}}</p>
      </div>    
      <div class="list-group" ng-repeat="category in category.children" ng-include="'categoryTree'" ng-if="category.children">      
      </div>
    </script>

    <!--includes nested list (nestedCategories is nested Data with all categories)-->
    <div class="just-padding">
      <div class="list-group list-group-root well">
        <div class="list-group" ng-repeat="category in nestedCategories" ng-include="'categoryTree'"></div>
      </div>
    </div>  

    <!--Add new root category-->
    <div ng-if="formData.Parent == null">
      <form role="form" name="rootCategory" novalidate>
        <div class="well">
          <h4>Add new root category</h4>
            <hr>
            <div class="form-group" ng-class="{'has-error': rootCategory.name.$invalid && rootCategory.name.$touched }">
              <label  for="name">Name</label>
              <input type="text" class="form-control" name="name" id="name" ng-model="formData.name" required>
              <span class="text-danger" ng-show="rootCategory.name.$touched && rootCategory.name.$invalid">The name is required.</span>
            </div>
            <div class="form-group">
              <label for="rootDescription">Description</label>
              <input type="textarea" class="form-control" name="rootDescription" id="rootDescription" ng-model="formData.description">
            </div>
            <button type="button" class="btn btn-success" ng-click="createCategoryEvent(formData.Parent, formData.name, formData.description)"
            ng-disabled="rootCategory.name.$invalid">
              <span class="glyphicon glyphicon-plus"></span> Add
            </button>
        </div>    
      </form>
    </div>

    <!--Add new child to existing category-->
    <div ng-if="formData.Parent != null">
      <form role="form" name="childCategory" novalidate>
        <div class="well">
          <h4 data-toggle="collapse" data-target="#addChild">Add new child for <b>{{categories.name}}</b></h4>
          <div id="addChild"  class="collapse">
            <hr>
            <div class="form-group" ng-class="{'has-error': childCategory.name.$invalid && childCategory.name.$touched }">
              <label for="name">Name</label>
              <input type="text" class="form-control" name="name" id="name" ng-model="formData.name" required>
              <span class="text-danger" ng-show="childCategory.name.$touched && childCategory.name.$invalid">The name is required.</span>
            </div>
            <div class="form-group">
              <label for="childDescription">Description</label>
              <input type="textarea" class="form-control" name="childDescription" id="childDescription" ng-model="formData.description">
            </div>
            <button type="button" class="btn btn-success" ng-click="createCategoryEvent(formData.Parent, formData.name, formData.description)"
            ng-disabled="childCategory.name.$invalid">
              <span class="glyphicon glyphicon-plus"></span> Add
            </button>
          </div>
        </div>    
      </form>
    </div>

    <!--edit existing category-->
    <div ng-if="formData.Parent != null">
      <form role="form" name="editCategory" novalidate>
        <div class="well">
          <h4 data-toggle="collapse" data-target="#edit">Edit <b>{{categories.name}}</b></h4>
          <div id="edit"  class="collapse">
            <hr>
            <div class="form-group" ng-class="{'has-error': editCategory.name.$invalid && editCategory.name.$touched }">
              <label for="editName">Name</label>
              <input type="text" class="form-control" name="name" id="editName" placeholder="{{categories.name}}" ng-model="formData.name" required>
              <span class="text-danger" ng-show="editCategory.name.$touched && editCategory.name.$invalid">The name is required.</span>
            </div>
            <div class="form-group">
              <label for="editDescription">Description</label>
              <input type="textarea" class="form-control" name="editDescription" id="editDescription" placeholder="{{categories.description}}" ng-model="formData.description">
            </div>    
            <button type="button" class="btn btn-primary" ng-click="updateCategoryEvent(formData.Parent, formData.name, formData.description)"
            ng-disabled="editCategory.name.$invalid">
              <span class="glyphicon glyphicon-edit"></span> Edit
            </button>
          </div>
        </div>    
      </form>
    </div>

    <!--delete category (shows only when selected category has no children)-->
    <div ng-if="formData.Parent != null && categories.children.length < 1">
      <form role="form">
        <div class="well">
          <h4>Delete <b>{{categories.name}}</b></h4>
          <button type="button" class="btn btn-danger" ng-click="deleteCategoryEvent(formData.Parent)">
            <span class="glyphicon glyphicon-trash"></span> Delete
          </button>
        </div>    
      </form>
    </div>

</div>