<!--
HIER NOCH VERBESSERN - KOMMENTARE ETC.


CreatedbyID fehlt noch.
attachments werden erstmal vernachlässigt.
-->

    <div class="container top-space bot-space">
      <div class="panel panel-default">
        <div class="panel-heading text-center"><h2>Create new device</h2></div>
        <div class="panel-body">

        <div id="messages" class="hide" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <div id="messages_content"></div>
            </div>
        	
          <!--Begin form-->
          <form id="itemForm" class="form-horizontal">

           	<!--Name input-->
            <div class="form-group" id="formName">
              <label class="col-md-2 control-label" for="name">Name</label>
              <div class="col-md-4">
                <input type="text" class="form-control" id="name" name="name" placeholder="Hammer" ng-model="selectedItems[0].Name" />
              </div>
            </div>

            <!--Description input-->
            <div class="form-group" id="formDescription">
              <label class="col-md-2 control-label" for="description">Description</label>  
              <div class="col-md-4">
                <textarea class="form-control" id="description" name="description" placeholder="Mf: B1" ng-model="selectedItems[0].Description"></textarea>
              </div>
            </div>

            <!--Category input-->
            <div class="form-group" id="formCategory">
              <label class="col-md-2 control-label" for="category">Category</label>
              <div class="col-md-4">
                <input type="search" class="form-control" id="category" name="category" placeholder="Search for category..." ng-model="selectedItems[0].Category"/> 
              </div>
            </div>

            <!--Place input-->
            <div class="form-group" id="formPlace">
              <label class="col-md-2 control-label" for="place">Place</label>
              <div class="col-md-4">
                <input type="search" class="form-control" id="place" name="place" placeholder="Search for place..." ng-model="selectedItems[0].Place"/> 
              </div>
            </div>

            <!--State input-->
            <div class="form-group" id="formState">
              <label class="col-md-2 control-label" for="state">State</label>
              <div class="col-md-4"> 
                <select class="form-control"  ng-model="selectedItems[0].State" >
                  <option value="0">Not available</option>
                  <option value="1">Available</option>
                  <option value="2">Defective</option>
                  <option value="3">Missing</option>
                </select>
              </div>
            </div>

            <!--Comment input-->
            <div class="form-group" id="formDescription">
              <label class="col-md-2 control-label" for="description">Comment</label>  
              <div class="col-md-4">
                <textarea class="form-control" id="description" name="description" placeholder="Mf: B1" ng-model="selectedItems[0].Comment"></textarea>
              </div>
            </div>
            
            <!--PublicVisible input-->
            <div class="form-group" id="formState">
              <label class="col-md-2 control-label" for="state">PublicVisible</label>
              <div class="col-md-4">  
                <select class="form-control"  ng-model="selectedItems[0].PublicVisible" >
                  <option value="0">Not visible</option>
                  <option value="1">Visible</option>
                </select>   
              </div>
            </div>
  
             <!--Buttons: link for 'Back to menu' has to be set--> 
             <div class="form-group">
              <div class="col-md-6 col-md-offset-2">
                <button id="buttonSubmit" name="buttonSubmit"type="submit" class="btn btn-success btn-sm" ng-click="createItemToServer('Device')">Create device</button>
                <button id="buttonReset" name="buttonReset" type="reset" form="itemForm" class="btn btn-danger btn-sm" ng-click="clearItem()">Reset form</button>
                 <a href="">
                  <a href="#/list" id="buttonMenu" name="buttonMenu" type="button" class="btn btn-primary btn-sm" ng-click="clearItem()">Back to list</a>
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    

<!-- THIS WILL BE DELETED JUST FOR TESTING-->
<div class="well">
  <p>Testing area for backend</p>
  <p>{{selectedItems[0]}}</p>
  <p>CreaItem:</p>
  <p>{{createItem}}</p>
</div>

