<!--
HIER NOCH VERBESSERN - KOMMENTARE ETC.
-->

    <div class="container top-space bot-space">
      <div class="panel panel-default">
        <div class="panel-heading text-center"><h2>Create new material</h2></div>
        <div class="panel-body">
        	
          <!--Begin form-->
          <form id="itemForm" class="form-horizontal">

           	<!--Name input-->
            <div class="form-group" id="formName">
              <label class="col-md-2 control-label" for="name">Name</label>
              <div class="col-md-4">
                <input type="text" class="form-control" id="name" name="name" placeholder="LM258" ng-model="selectedItems[0].Name"/>
              </div>
            </div>

            <!-- State input-->
            <div class="form-group" id="formState">
              <label class="col-md-2 control-label" for="state">State</label>
              <div class="col-md-4">
                <select class="form-control"  ng-model="selectedItems[0].State" >
                    <option value="0">Not available</option>
                    <option value="1">Available</option>              
                  </select>
              </div>
            </div>

            <!--Description input-->
            <div class="form-group" id="formDescription">
              <label class="col-md-2 control-label" for="description">Description</label>  
              <div class="col-md-4">
                <textarea class="form-control" id="description" name="description" placeholder="Mf: B1" ng-model="selectedItems[0].Description"></textarea>
              </div>
            </div>

            <!--Category input-->
            <div class="form-group" id="formCategory">
              <label class="col-md-2 control-label" for="category">Category</label>
              <div class="col-md-4">
                <input type="search" class="form-control" id="category" name="category" placeholder="Search for category..." ng-model="selectedItems[0].Category"/> 
              </div>
            </div>

            <!--Place input-->
            <div class="form-group" id="formPlace">
              <label class="col-md-2 control-label" for="place">Place</label>
              <div class="col-md-4">
                <input type="search" class="form-control" id="place" name="place" placeholder="Search for place..." ng-model="selectedItems[0].Place"/> 
              </div>
            </div>

            <!--Retail price input-->
            <div class="form-group" id="formPrice">
              <label class="col-md-2 control-label" for="price">SalePrice</label>
              <div class="col-md-4">
                <input type="number" min="0.00" step="0.01" class="form-control" id="price" name="price" placeholder="42.00" ng-model="selectedItems[0].SalePrice"/>
              </div>
            </div>

            <!--Stock input-->
            <div class="form-group" id="formStock">
              <label class="col-md-2 control-label" for="stock">Storage value</label>
              <div class="col-md-4">
                <input type="number" min="0" class="form-control" id="stock" name="stock" placeholder="30" ng-model="selectedItems[0].StorageValue"/>
              </div>
            </div>

            <!--Critical stock input-->
            <div class="form-group" id="formStock">
              <label class="col-md-2 control-label" for="stock">Critical stock amount</label>
              <div class="col-md-4">
                <input type="number" min="0" class="form-control" id="stock" name="stock" placeholder="30" ng-model="selectedItems[0].CriticalStorageValue"/>
              </div>
            </div>
            
            <!--Type input-->
            <div class="form-group" id="formType">
              <label class="col-md-2 control-label" for="type">Buildtype</label>
              <div class="col-md-4">
                <input type="text" class="form-control" id="type" name="type" placeholder="THT" ng-model="selectedItems[0].Buildtype"/>
              </div>
            </div>

            <!--UOM input-->
            <div class="form-group" id="formMeasure">
              <label class="col-md-2 control-label" for="measure">UOM</label>
              <div class="col-md-4">
                <input type="text" class="form-control" id="measure" name="measure" placeholder="Meter" ng-model="selectedItems[0].UoM"/>
              </div>
            </div>

            <!--UOM_short input-->
            <div class="form-group" id="formMeasure">
              <label class="col-md-2 control-label" for="measure">UOM short</label>
              <div class="col-md-4">
                <input type="text" class="form-control" id="measure" name="measure" placeholder="m" ng-model="selectedItems[0].UoM_short"/>
              </div>
            </div>

            <!--Comment input-->
            <div class="form-group" id="formDescription">
              <label class="col-md-2 control-label" for="description">Comment</label>  
              <div class="col-md-4">
                <textarea class="form-control" id="description" name="description" placeholder="Created Item..." ng-model="selectedItems[0].Comment"></textarea>
              </div>
            </div>

            <!--PublicVisible input-->
            <div class="form-group" id="formState">
              <label class="col-md-2 control-label" for="state">PublicVisible</label>
              <div class="col-md-4">
                <select class="form-control"  ng-model="selectedItems[0].PublicVisible" >
                  <option value="0">Not visible</option>
                  <option value="1">Visible</option>
                </select>
              </div>
            </div>

            <!--Buttons: link for 'Back to menu' has to be set-->
            <div class="form-group">
              <div class="col-md-6 col-md-offset-2">
                <button id="buttonSubmit" name="buttonSubmit" type="submit" class="btn btn-success btn-sm" ng-click="createItemToServer('Material')">Create material</button>
                <button id="buttonReset" name="buttonReset" type="reset" form="itemForm" class="btn btn-danger btn-sm" ng-click="clearItem()">Reset form</button>
                <a href="">
                	<a href="#/list" id="buttonMenu" name="buttonMenu" type="button" class="btn btn-primary btn-sm" ng-click="clearItem()">Back to list</a>
                </a>	
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    

<!-- THIS WILL BE DELETED JUST FOR TESTING-->
<div class="well">
  <p>Testing area for backend</p>
  <p>{{selectedItems[0]}}</p>
  <p>{{createItem}}</p>
</div>
