<!--
Create Material
Controller: CreateCtrl - controllers.js
-->

    <div class="container top-space bot-space">
      <div class="panel panel-default">
        <div class="panel-heading text-center"><h2>Create new material</h2></div>
        <div class="panel-body">
        	
          <!--Begin form-->
          <form id="itemForm" class="form-horizontal" name="itemForm" novalidate>

           	<!--Name input-->
            <div class="form-group" id="formName">
              <label class="col-md-offset-2 col-md-2 control-label" for="name">Name</label>
              <div class="col-md-4"  ng-class="{'has-error': itemForm.name.$invalid && itemForm.name.$touched }">
                <input type="text" class="form-control" id="name" name="name" placeholder="LM258" ng-model="selectedItems[0].Name" required=""/>
                <p ng-show="itemForm.name.$invalid && itemForm.name.$touched" class="text-danger">The name is required.</p>
              </div>
            </div>


            <!-- State input-->
            <div class="form-group" id="formState">
              <label class="col-md-offset-2 col-md-2 control-label" for="state">State</label>
              <div class="col-md-4">
                <select class="form-control" id="state" name="state" ng-model="selectedItems[0].State"
                  ng-options="option.value as option.name for option in materialStates"
                  ng-init="selectedItems[0].State = selectedItems[0].State || materialStates[1].value">              
                  </select>
              </div>
            </div>


            <!--Description input-->
            <div class="form-group" id="formDescription">
              <label class="col-md-offset-2 col-md-2 control-label" for="description">Description</label>  
              <div class="col-md-4">
                <textarea class="form-control" id="description" name="description" placeholder="Mf: B1" ng-model="selectedItems[0].Description"></textarea>
              </div>
            </div>


            <!--Category input (button opens modal with radio buttons)-->
            <div class="form-group" id="formCategory">
              <label class="col-md-offset-2 col-md-2 control-label" for="categoryButton">Category</label>
              <!--show, when no category is selected-->
              <div class="col-md-4" ng-if="selectedItems[0].Category == null" ng-class="{'has-error': ctgBtn == true}">
                <button type="button" class="form-control btn btn-default btn-block text-left" name="categoryButton" id="categoryButton"
                 data-toggle="modal" data-target="#categoryModal" ng-click="ctgBtn = true" ng-init="ctgBtn = false"
                style="text-align:left;color:#999;">Select Category</button>
                <p ng-show="ctgBtn == true" class="text-danger">The category is required.</p>
              </div>
              <!--show, when category is selected-->
              <div class="col-md-4" ng-if="selectedItems[0].CategoryID != null" >
                <button type="button" class="btn btn-default btn-block text-left" data-toggle="modal" data-target="#categoryModal" name="categoryButton" 
                style="text-align:left;color:#555;">{{selectedItems[0].Category}}</button>
              </div>
            </div>

            <!--modal for category selection-->
            <div id="categoryModal" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Select Category</h4>
                  </div>
                  <div class="modal-body">

                    <!--recursive template for displaying categories as nested list-->
                    <script type="text/ng-template" id="categoryTree">
                      <input type="radio" name="categoryParent" id="ctg{{category.id}}" ng-value="category.id" 
                      ng-model="selectedItems[0].CategoryID" ng-change="newCategoryValue('{{category.Name}}')">
                      <label for="ctg{{category.id}}">
                        {{category.Name}}
                      </label>
                      <span class="glyphicon glyphicon-info-sign" data-toggle="collapse" data-target="#description{{category.id}}"
                      ng-if="category.Description != null && category.Description != '' ">
                      </span>
                      <p id="description{{category.id}}" class="collapse help-block">{{category.Description}}</p>
                      <ul ng-if="category.children">
                        <li ng-repeat="category in category.children | orderBy: 'Name'" ng-include="'categoryTree'"></li>
                      </ul>
                    </script>

                    <!--includes nested list (nestedCategories is nested Data with all categories)-->
                    <ul>
                      <li ng-repeat="category in nestedCategories | orderBy: 'Name'" ng-include="'categoryTree'"></li>
                    </ul>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>


            <!--Place Input (button opens modal with radio buttons)-->
            <div class="form-group" id="formPlace">
              <label class="col-md-offset-2 col-md-2 control-label" for="placeButton">Place</label>
              <!--show, when no place is selected-->
              <div class="col-md-4" ng-if="selectedItems[0].Place == null" ng-class="{'has-error': plcBtn == true}">
                <button type="button" class="form-control btn btn-default btn-block text-left" name="placeButton" id="placeButton"
                 data-toggle="modal" data-target="#placeModal" ng-click="plcBtn = true" ng-init="plcBtn = false"
                 style="text-align:left;color:#999;">Select Place</button>
                 <p ng-show="plcBtn == true" class="text-danger">The place is required.</p>
              </div>
              <!--show, when a place is selected-->
              <div class="col-md-4" ng-if="selectedItems[0].Place != null" >
                <button type="button" class="btn btn-default btn-block text-left" data-toggle="modal" data-target="#placeModal" name="placeButton"
                 style="text-align:left;color:#555;">{{selectedItems[0].PlaceName}}</button>
              </div>
            </div>

            <!--modal for place selection-->
            <div id="placeModal" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Select Place</h4>
                  </div>
                  <div class="modal-body">

                    <!--recursive template for displaying places as nested list-->
                    <script type="text/ng-template" id="placeTree">
                      <input type="radio" name="plc" id="plc{{place.id}}" ng-value="place.id" ng-model="selectedItems[0].Place"
                      ng-change="newPlaceValue('{{place.Name}}')">
                      <label for="plc{{place.id}}">
                        {{place.Name}}
                      </label>
                      <ul ng-if="place.children">
                        <li ng-repeat="place in place.children | orderBy: 'Name'" ng-include="'placeTree'"></li>
                      </ul>
                    </script>

                    <!--includes nested list (nestedPlaces is nested Data with all places)-->
                    <ul>
                      <li ng-repeat="place in nestedPlaces | orderBy: 'Name'" ng-include="'placeTree'"></li>
                    </ul>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div> 
            

            <!--Cost input-->
            <!-- Eigentlich müsste der Einkaufspreis auch eingegeben werden? -> klären mit Backend
            <div class="form-group" id="formCost">
              <label class="col-md-2 control-label" for="cost">Cost</label>
              <div class="col-md-4">
                <input type="number" min="0.00" step="0.01" class="form-control" id="cost" name="cost" placeholder="24.00" 
                ng-model="selectedItems[0].Cost" onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
              </div>
            </div>-->


            <!--Retail price input-->
            <div class="form-group" id="formPrice">
              <label class="col-md-offset-2 col-md-2 control-label" for="price">SalePrice</label>
              <div class="col-md-4" ng-class="{'has-error': itemForm.price.$invalid && itemForm.price.$touched }">
                <input type="number" min="0.00" step="0.01" class="form-control" id="price" name="price" placeholder="42.00" 
                ng-model="selectedItems[0].SalePrice" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" required="">
                <p ng-show="itemForm.price.$error.required && itemForm.price.$touched" class="text-danger">The SalePrice is required.</p>
                <p ng-show="itemForm.price.$invalid && !(itemForm.price.$error.required)" class="text-danger">Please enter a valid price like 42.00</p> 
              </div>
            </div>


            <!--Stock input-->
            <div class="form-group" id="formStock">
              <label class="col-md-offset-2 col-md-2 control-label" for="stock">Storage value</label>
              <div class="col-md-4" ng-class="{'has-error': itemForm.stock.$invalid && itemForm.stock.$touched }">
                <input type="number" min="0" step="1" class="form-control" id="stock" name="stock" placeholder="42" 
                ng-model="selectedItems[0].StorageValue" required="">
                <p ng-show="itemForm.stock.$error.required && itemForm.stock.$touched" class="text-danger">The stock is required.</p>
                <p ng-show="itemForm.stock.$error.number" class="text-danger">Only numbers are allowed.</p>
              </div>
            </div>


            <!--Critical stock input-->
            <div class="form-group" id="formStock">
              <label class="col-md-offset-2 col-md-2 control-label" for="critStock">Critical stock amount</label>
              <div class="col-md-4" ng-class="{'has-error': itemForm.critStock.$invalid && itemForm.critStock.$touched }">
                <input type="number" min="0" step="1" class="form-control" id="critStock" name="critStock" placeholder="24"
                 ng-model="selectedItems[0].CriticalStorageValue" ng-pattern="/^[0-9]+$/" required="">
                <p ng-show="itemForm.critStock.$error.required && itemForm.critStock.$touched" class="text-danger">The critical stock amount is required.</p>
                <p ng-show="itemForm.critStock.$error.number" class="text-danger">Only numbers are allowed.</p>
              </div>
            </div>

            
            <!--Type input-->
            <div class="form-group" id="formType">
              <label class="col-md-offset-2 col-md-2 control-label" for="type">Buildtype</label>
              <div class="col-md-4" ng-class="{'has-error': itemForm.type.$invalid && itemForm.type.$touched }">
                <input type="text" class="form-control" id="type" name="type" placeholder="THT" ng-model="selectedItems[0].BuildType" required=""/>
                <p ng-show="itemForm.type.$invalid && itemForm.type.$touched" class="text-danger">The build type is required.</p>
              </div>
            </div>


            <!--UOM input-->
            <div class="form-group" id="formMeasure">
              <label class="col-md-offset-2 col-md-2 control-label" for="measure">UOM</label>
              <div class="col-md-4" ng-class="{'has-error': itemForm.measure.$invalid && itemForm.measure.$touched }">
                <input type="text" class="form-control" id="measure" name="measure" placeholder="Meter" ng-model="selectedItems[0].UoM" required=""/>
                <p ng-show="itemForm.measure.$invalid && itemForm.measure.$touched" class="text-danger">UOM is required.</p>
              </div>
            </div>


            <!--UOM_short input-->
            <div class="form-group" id="formSMeasure">
              <label class="col-md-offset-2 col-md-2 control-label" for="sMeasure">UOM short</label>
              <div class="col-md-4" ng-class="{'has-error': itemForm.sMeasure.$invalid && itemForm.sMeasure.$touched }">
                <input type="text" class="form-control" id="sMeasure" name="sMeasure" placeholder="m" ng-model="selectedItems[0].UoM_short" required=""/>
                <p ng-show="itemForm.sMeasure.$invalid && itemForm.sMeasure.$touched" class="text-danger">UOM short is required.</p>
              </div>
            </div>


            <!--Comment input-->
            <div class="form-group" id="formComment">
              <label class="col-md-offset-2 col-md-2 control-label" for="comment">Comment</label>  
              <div class="col-md-4" ng-class="{'has-error': itemForm.comment.$invalid && itemForm.comment.$touched }">
                <textarea class="form-control" id="comment" name="comment" placeholder="Created Item..." 
                ng-model="selectedItems[0].Comment" required=""></textarea>
                <p ng-show="itemForm.comment.$invalid && itemForm.comment.$touched" class="text-danger">A comment is required.</p>
              </div>
            </div>


            <!--PublicVisible input-->
            <div class="form-group" id="formVisible">
              <label class="col-md-offset-2 col-md-2 control-label" for="publicVisible">PublicVisible</label>
              <div class="col-md-4">  
                <select class="form-control" id="publicVisible" name="publicVisible"  ng-model="selectedItems[0].PublicVisible"
                  ng-options="option.value as option.name for option in Visibility"
                  ng-init="selectedItems[0].PublicVisible = selectedItems[0].PublicVisible || Visibility[1].value" required="">
                </select>   
              </div>
            </div>
              
            <!--Buttons: Submit(Send to Server) + Reset Form + Back to Itemlist-->
            <div class="form-group">
              <div class="col-md-offset-4 col-md-6">
                <button id="buttonSubmit" name="buttonSubmit" type="button" class="btn btn-success btn-md" ng-click="createItemToServer('Material')" 
                ng-disabled="itemForm.name.$invalid || itemForm.state.$invalid || itemForm.price.$invalid || itemForm.stock.$invalid || itemForm.critStock.$invalid || itemForm.type.$invalid || itemForm.measure.$invalid || itemForm.sMeasure.$invalid || itemForm.comment.$invalid || itemForm.publicVisible.$invalid"
                >Create</button>
                <button id="buttonReset" name="buttonReset" type="reset" form="itemForm" class="btn btn-danger btn-md" 
                ng-click="resetItem()">Reset</button>
                <a href="">
                	<a href="#/list" id="buttonMenu" name="buttonMenu" type="button" class="btn btn-primary btn-md" ng-click="clearItem()">Back</a>
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>