<!-- 
Controller: ItemEditController - controllers.js
Additionally needed scripts: none 
-->

<div class="container">

  <div class="col-lg-3"></div>  
  <div class="col-lg-6">
 
    <!-- ID and Name preview for the admin-->
    <h1>{{detailData[0].Id}} - {{detailData[0].Name}}</h1>
    <hr>

    <!-- All changeable inputs -->
    <form role="form" name="form" id="form" novalidate="">
    <div class="form-group" ng-class="{'has-error': form.name.$invalid && form.name.$touched}">
    <label for="name">Name:</label>
    <input type="text" class="form-control" name="name" id="name" ng-model="detailData[0].Name" required="">
    </div>
      <!-- if item is device -->
      <div class="form-group" ng-if="detailData[0].material_id == 1 && (detailData[0].State != 4 || form.state.$dirty == true)" 
      ng-class="{'has-error': (form.state.$invalid && form.state.$touched) || detailData[0].State == 4}"}>
      <label for="state">State:</label>
        <select id="state" name="state" required="" class="form-control"  ng-model="detailData[0].State" 
          ng-options="option.value as option.name for option in deviceStates"
          ng-init="detailData[0].State = detailData[0].State || deviceStates[1].value">    
        </select>
        <p ng-show="detailData[0].State == 4" class="text-danger">Create a rental to set the state to rented.</p>
      </div>
      <!-- if item is material -->
      <div class="form-group" ng-if="detailData[0].material_id != 1" ng-class="{'has-error': form.state.$invalid && form.state.$touched}">
        <label for="state">State:</label>
        <select id="state" name="state" required="" class="form-control" ng-model="detailData[0].State" 
          ng-options="option.value as option.name for option in materialStates"
          ng-init="detailData[0].State = detailData[0].State || materialStates[1].value">    
        </select>
      </div>

    <div>
    </div>
  	<!--show, when no place is selected-->
  	<div class="form-group" ng-if="detailData[0].Place == null" ng-class="{'has-error': detailData[0].Place == null">
        <label for="placeButton">Place:</label>
  	    <button type="button" class="btn btn-default btn-block text-left form-control" data-toggle="modal" data-target="#placeModal" 
        name="placeButton" id="placeButton" style="text-align:left;color:#999;">Select Place</button>
  	</div>
  	<!--show, when a place is selected-->
  	<div class="form-group" ng-if="detailData[0].Place != null" >
        <label for="placeButton">Place:</label>
  	    <button type="button" class="btn btn-default btn-block text-left" data-toggle="modal" data-target="#placeModal" name="placeButton"
  	     id="placeButton" style="text-align:left;color:#555;">{{detailData[0].PlaceName}}</button>
  	</div>
    <!--show, when no category is selected-->
    <div class="form-group" ng-if="detailData[0].CategoryID == null" ng-class="{'has-error': detailData[0].CategoryID == null">
        <label for="categoryButton">Category:</label>
        <button type="button" class="btn btn-default btn-block text-left form-control" data-toggle="modal" data-target="#categoryModal"  name="categoryButton"
         id="categoryButton" style="text-align:left;color:#999;">Select Category</button>
    </div>
    <!--show, when category is selected-->
    <div class="form-group" ng-if="detailData[0].CategoryID != null" >
        <label for="categoryButton">Category:</label>
        <button type="button" class="btn btn-default btn-block text-left" data-toggle="modal" data-target="#categoryModal" name="categoryButton" 
       	id="categoryButton" style="text-align:left;color:#555;">{{detailData[0].Category}}</button>
    </div>
    <div class="form-group">
    <label for="description">Description:</label>
    <input type="text" id="description" name="description" class="form-control" ng-model="detailData[0].Description" >
    </div>
    <div ng-if="detailData[0].material_id != 1">
      <div class="form-group" ng-class="{'has-error': form.price.$invalid && form.price.$touched}">
      <label for="price">SalePrice:</label>
      <input type="number" min="0.00" step="0.01" id="price" name="price" class="form-control" 
      ng-model="detailData[0].SalePrice" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" required="">
      <p ng-show="form.price.$invalid && !(form.price.$error.required)" class="text-danger">Please enter a valid price like 42.00</p> 
      </div>
      <div class="form-group" ng-class="{'has-error': form.type.$invalid && form.type.$touched}">
      <label for="type">BuildType:</label>
      <input type="text" id="type" name="type" class="form-control" ng-model="detailData[0].BuildType" required="">
      </div>
      <div class="form-group" ng-class="{'has-error': form.uom.$invalid && form.uom.$touched}">
      <label for="uom">UoM:</label>
      <input type="text" id="uom" name="uom" class="form-control" ng-model="detailData[0].UoM" required="">
      </div>
      <div class="form-group" ng-class="{'has-error': form.uom_s.$invalid && form.uom_s.$touched}">
      <label for="uom_s">UoM_short:</label>
      <input type="text" id="uom_s" name="uom_s" class="form-control" ng-model="detailData[0].UoM_short" required="">
      </div>
      <div class="form-group" ng-class="{'has-error': form.crit.$invalid && form.crit.$touched}">
      <label for="crit">CriticalStorageValue:</label>
      <input type="number" min="0" step="1" id="crit" name="crit" class="form-control" ng-model="detailData[0].CriticalStorageValue" required="">
      <p ng-show="form.crit.$error.number" class="text-danger">Only numbers are allowed.</p>
      <p ng-show="form.crit.$error.min" class="text-danger">CriticalStorageValue > 0</p>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': form.visible.$invalid && form.visible.$touched}">
      <label for="visible">PublicVisible:</label>
        <select class="form-control" id="visible" name="visible" required=""  ng-model="detailData[0].PublicVisible" 
            ng-options="option.value as option.name for option in Visibility"
            ng-init="detailData[0].PublicVisible = detailData[0].PublicVisible || Visibility[1].value">
        </select>
    </div>
    <div class="form-group" ng-class="{'has-error': form.comment.$invalid && form.comment.$touched}">
    <label for="comment">Comment:</label>  
    <textarea id="comment" name="comment" class="form-control" ng-model="detailData[0].Comment" required=""></textarea>
    <p ng-show="form.comment.$invalid && form.comment.$touched" class="text-error">A comment is reqired.</p>
    </div>
    </form>
    <hr>
    <!-- Menupoint/Buttons -->
    <div class="text-center well">   
      <!-- Cancel button - redirect to DetailView -->
      <a ng-click="viewDetail(detailData[0].Id);" class="btn btn-danger btn-sm">Cancel</a> 
      <!-- Back to list button - redirect to inventory list -->
      <a href="#/list" class="btn btn-primary btn-sm">Back to list</a>
      <!-- Save button, sends update to server -->
      <button class="btn btn-success btn-sm" ng-click="saveEdit()" 
      ng-disabled="form.$invalid || detailData[0].CategoryID == null || detailData[0].Place == null || detailData[0].State == 4">
      Save</button> 
    </div>

  </div>
</div>

<!--modal for place selection-->
<div id="placeModal" class="modal fade" role="dialog">
  	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal">&times;</button>
        		<h4 class="modal-title">Select Place</h4>
      		</div>
      		<div class="modal-body">

		        <!--recursive template for displaying places as nested list-->
		        <script type="text/ng-template" id="placeTree">
              <input type="radio" name="plc" id="plc{{place.id}}" ng-value="place.id" 
              ng-model="detailData[0].Place" ng-change="newPlaceValue('{{place.Name}}')">
	          	<label for="plc{{place.id}}">
	            	{{place.Name}}
	          	</label>
	            <ul ng-if="place.children">
	              <li ng-repeat="place in place.children | orderBy: 'Name'" ng-include="'placeTree'"></li>
              </ul>  
		        </script>
            
		        <!--includes nested list (nestedPlaces is nested Data with all places)-->
		        <ul>
		            <li ng-repeat="place in nestedPlaces | orderBy: 'Name'" ng-include="'placeTree'"></li>
		        </ul>

      		</div>
      		<div class="modal-footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      		</div>
    	</div>
  	</div>
</div>

<!--modal for category selection-->
<div id="categoryModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
    	<div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Select Category</h4>
            </div>
        	<div class="modal-body">

            	<!--recursive template for displaying categories as nested list-->
                <script type="text/ng-template" id="categoryTree">
                  <input type="radio" name="categoryParent" id="ctg{{category.id}}" ng-value="category.id" 
                  ng-model="detailData[0].CategoryID" ng-change="newCategoryValue('{{category.Name}}')">
                	<label for="ctg{{category.id}}">
                      {{category.Name}}
                	</label>
                  <span class="glyphicon glyphicon-info-sign" data-toggle="collapse" data-target="#description{{category.id}}"
                  ng-if="category.Description != null && category.Description != '' ">
                  </span>
                  <p id="description{{category.id}}" class="collapse">{{category.Description}}</p>
                  <ul ng-if="category.children">
                    <li ng-repeat="category in category.children | orderBy: 'Name'" ng-include="'categoryTree'"></li>
                  </ul>
                </script>

                <!--includes nested list (nestedCategories is nested Data with all categories)-->
                <ul>
            		  <li ng-repeat="category in nestedCategories | orderBy: 'Name'" ng-include="'categoryTree'"></li>
                </ul>

      		</div>
      		<div class="modal-footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      		</div>
    	</div>
  	</div>
</div>        