body{
  background-color: #151515;
}

#sc_mid {
  background-color: white;
  padding-top: 5px;
}

/* ==== HEADER STYLE ==== */
.navbar {
  letter-spacing: 2px;
  margin-bottom: 0px;
  border-radius: 0 !important;
}
/*Logo*/
.logo-box{
  background-color: #008080; /* Orange */
  color: #ffffff;
}

.logo{
  margin: auto;
  /*if height should been changed to specific height logo-box need width/height values*/
}

/* Testing */
.no-space{
  margin: 0px;
}

/* =========================== */

/* ==== FOOTER STYLE ==== */
footer{
  color: #f5f5f5; padding: 20px;
}

/* Color Styles */
.maincolor{
  color:#04B4AE !important;     /*IN THE END THIS SHOULD BE IN THE CONFIG*/
}

/* Scroll To Top Glyphicon */
span.glyphicon-large {
    font-size: 3.2em;
}

/* Spacemaker */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #04B4AE;    /* needs to be in the config*/
  margin: 1em 0;
  padding: 0; 
}
/* =========================== */

/* ==== VIEW STYLE ==== */

.top-space{
  padding-top: 20px;
}

.bot-space{
  padding-bottom: 20px;
}

.wrapper { 
    margin-top:  100px;
}

.wrapper .btn {
      
    height: 200px;
    width: 200px;
}



/* Table Header Styles */
.sort-icon {
    font-size: 9px;
    margin-left: 5px;
}

th {
  cursor:pointer;
}
/* =========================== */
/*Borrow*/
.input-border{
 border-color: green;
}
/* =========================== */
/*Menu points */

.menu-space{
  min-height: 500px;
}

@media (max-width: 599px) {             /* Größe des Fensters */
  .btn-responsive {
    padding:2px 4px;                    /* Schriftgröße im Button */
    font-size:50%;
    line-height: 1;
       
    margin-top : 50px;                  /* Abstände der Buttons */
    margin-bottom :3px;
    margin-left: 3px;
    margin-right: 3px;
  
    /*border-radius:3px;*/
    height: 90px;                       /*Größe der Buttons */
    width: 90px;
    
    line-height: 80px;                  /* Schriftplatzierung */
      }
}

@media (min-width: 599px) and (max-width: 1200px) {
  .btn-responsive {
    padding:4px 9px;
    font-size:70%;
    line-height: 1.2;
    
    margin-top : 50px;
    margin-bottom :6px;
    margin-left: 6px; 
    margin-right: 6px;
  
    height: 150px;
    width: 150px;
    
    line-height: 140px;
      }
}

@media (min-width:1200px)  {
  .btn-responsive {
    padding:9px 19px;
    font-size:90%;
    line-height: 9;
  
    margin-top : 50px;  
    margin-bottom :10px;
    margin-left: 10px;
    margin-right: 10px;
  
    height: 180px;
    width: 180px;
    
    line-height: 160px;
      }
}


